<html ng-app="tienda">
    <head>
        <title>Tienda RPG</title>
        <script src="bower_components/angular/angular.min.js"></script>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <style>

            .form-inline{
                width: 100%;
            }
            
            .form-inline .form-group {
                width: 80%;
            }
            
            .form-inline .form-group .input-group{
                width: 100%;
            }
            
            .form-inline button {
                width: 18%;
            }
            
            .well .row{
                margin-bottom: 10px;
                margin-top: 2px;
            }
            
            .list-arrows{
                margin-top: 100px;
            }
        </style>
        
        <script src="app/app.js"></script>
        <script src="app/controllers.js"></script>
        <script src="app/filters.js"></script>
        <script src="app/directives.js"></script>
       
    </head>
    <body>
        <div class="container" ng-controller="MainController as main">
            <br />
            
            <div class="row">
                
                <!-- <BOX_TIENDA> -->
                <div class="dual-list list-left col-md-5">
		        <h2>{{ main.tiendaLabel }}</h2>
                <div class="well text-right">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline">
                              <!-- <BOX_TIENDA_INPUT_BUSQUEDA> -->    
                              <search-input search-model="main.filtroTienda"></search-input>    
                              <!-- </BOX_TIENDA_INPUT_BUSQUEDA> -->    
                              <!-- <BOX_TIENDA_SELECT_ALL> -->  
                              <select-all-button lista="main.listaTienda" on-check="main.toggleLista"></select-all-button>    
                              <!-- </BOX_TIENDA_SELECT_ALL> -->
                            </form>
                        </div>
                    </div>
                    <!-- <BOX_TIENDA_LISTADO> -->  
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-group">
                                <li class="list-group-item"
                                    ng-repeat="item in main.listaTienda | filter : main.filtroTienda"
                                    ng-click="main.toggleItem(item)"
                                    ng-class="{ active : item.selected }">
                                    {{ item.name | uppercase }} - 
                                    {{ item.cost | dolar }}
                                </li>                                
                            </ul>
                        </div>   
                    </div>
                    <!-- </BOX_TIENDA_LISTADO> -->
                </div>
                </div>
                <!-- </BOX_TIENDA> -->
                
                <!-- <MOVE_BUTTONS> -->
                <div class="list-arrows col-md-1 text-center">
                    <button ng-click="main.move(main.listaEquipo, main.listaTienda)" class="btn btn-default btn-sm move-left">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>

                    <button ng-click="main.move(main.listaTienda, main.listaEquipo)" class="btn btn-default btn-sm move-right">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
                <!-- </MOVE_BUTTONS> -->
                
                <!-- <BOX_USUARIO> -->
                <div class="dual-list list-right col-md-5">
		        <h2>{{ main.equipoLabel }}</h2>
                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline">
                              <!-- <BOX_USUARIO_SELECT_ALL> -->          
                              <select-all-button lista="main.listaEquipo" on-check="main.toggleLista"></select-all-button> 
                              <!-- </BOX_USUARIO_SELECT_ALL> -->
                              <!-- <BOX_USUARIO_INPUT_BUSQUEDA> -->    
                              <search-input search-model="main.filtroEquipo"></search-input>
                              <!-- </BOX_USUARIO_INPUT_BUSQUEDA> -->     
                            </form>
                        </div>
                    </div>
                    <!-- <BOX_USUARIO_LISTADO> -->
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-group">
                                <li class="list-group-item"
                                    ng-repeat="item in main.listaEquipo | filter : main.filtroEquipo"
                                    ng-click="main.toggleItem(item)"
                                    ng-class="{ active : item.selected }">
                                    {{ item.name }}
                                </li>    
                            </ul>
                        </div>   
                    </div>
                    <!-- </BOX_USUARIO_LISTADO> -->
                </div>
                </div>
                <!-- </BOX_USUARIO> -->
                
            </div>
        </div>
    </body>
</html>

