<html ng-app="app">
    <head>
        <title>Clase 1 - AngularJS</title>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="styles.css" />
        <style>
            #container .panel{
                margin: 20px;
            }
        </style>
        <script src="bower_components/angular/angular.min.js"></script>
        <script>
            
            var app = angular.module("app", []);
            
            app.controller("MainController", function($scope){
            
                this.usuario = {
                    nombre : "AngularJS"
                };
                
            });
            
            app.controller("ChildController", function($scope){
            
                $parent.usuario.nombre = "React";
                
            });
            
            
        </script>
    </head>
    <body>
        <div id="container" class="container">
            
            <h1>Intro AngularJS</h1>
            
            
            <div ng-controller="MainController as main" class="panel panel-warning">
            
                <div class="panel-heading">
                    Main Controller
                </div>
                
                <div class="panel-body">
                    
                    <input ng-model="main.usuario.nombre" type="text" class="form-control" />
                    <h1>{{main.usuario.nombre}}</h1>
                    
                </div>
                
                
                
                <div ng-controller="ChildController as child" class="panel panel-info">
                    <div class="panel-heading">
                        Child Controller
                    </div>
                    <div class="panel-body">

                        <input ng-model="main.usuario.nombre" type="text" class="form-control" />
                        <h1>{{main.usuario.nombre}}</h1>

                    </div>
                </div>
                
                
                
                
            </div>
            
            
        </div>
    </body>
</html>