<div class="row">
    <div class="col-md-5">
        <div class="btn-group" role="group" aria-label="...">
          <button ng-click="cat.nuevaCategoria()" type="button" class="btn btn-default">Nueva Categoría</button>
          <button ng-click="cat.editarCategoria()" ng-disabled="!cat.selected" type="button" class="btn btn-default">Editar Categoría</button>
          <button ng-click="cat.eliminarCategoria()" ng-disabled="!cat.selected" type="button" class="btn btn-default">Eliminar Categoría</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12"><hr/></div>
</div>

<div class="row">

    <div class="col-md-5">
        <ul class="list-group">
          <li ng-repeat="categoria in cat.categorias" 
              class="list-group-item"
              ng-class="{active : cat.isSelected(categoria)}"
              ng-click="cat.select(categoria)">
              {{categoria.categoria_desc}}
          </li>
        </ul>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-6" ui-view>

    </div>
</div>